registry=https://registry.npmjs.org/
always-auth=false

@advanced:registry=https://advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-release/
//advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-release/:always-auth=true
//advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-release/:_authToken=${NPM_TOKEN}

@mosaic-design-system:registry=https://advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-dev/
//advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-dev/:always-auth=true
//advanced-592311462240.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-dev/:_authToken=${NPM_TOKEN}